<h1><%= @article.title %></h1>
<p><%= @article.description %></p>

<small>
    pada  <%= @article.created_at.to_s(:short) %>
    Oleh  <%= @article.user.full_name %>
</small>

<div>
<%= form_tag save_comment_path(article_id: @article.id) do %>
    <span>Tambahkan Komentar</span>
    <br/>
    <%= text_area_tag 'comment', '', placeholder: 'Masukkan komentar Anda di sini....', rows: 5, cols: 40 %>
    <br/>
    <%= submit_tag 'Kirim' %>

<%- end %>
</div>

<div>
<ul> 
    <%- for comment in @article.comments do %>
    <li>
        <span><%= comment.comment %></span>    
        <small>
          Pada  <%= comment.created_at.to_s(:short) %>
        </small>
        
    </li>
    <%- end %>
</ul>
</div>